*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar {
  position: fixed;
  border-right: 2px solid rgb(115, 113, 113);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #f4f4f4;
  padding: 20px;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
}

.content {
  justify-content: center;
  margin-left: 300px; 
  padding: 20px;
}

.sidebar a {
  text-decoration: none; 
  color: inherit; 
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sidebar a:hover {
  color: rgb(14, 144, 231);
}

ul{
  width: 100%;
  text-decoration: none;

}

li{
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid rgb(212, 199, 199);
}

img {
  width: 30px;
  margin-right: 60px;
}

.anime-img {
  width: 800px;
}

.submenu{
  margin-top: 20px;
  top:180px;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.submenu li{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}


.opcion-tareas {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  cursor: pointer;
}

.opcion-tareas:hover{
  color: rgb(14, 144, 231);
}